@import "settings";
@import "mixins/reset";
@import "vendor/balloon";
@import "components/header";
@import "components/inputs";

#app {

    height: 100vh;

    main {

        height: 100vh;
        display: flex;
        flex-direction: column;

        header {

            @extend %header;

            input[type="search"] {

                @extend %input;
            }

            button {

                @extend %button;
                width: 30px;
                position: relative;
                margin: 0 10px 0 auto;

                svg {

                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 23px;
                    height: auto;
                    fill: #222;
                    transform: translate(-50%, -50%);
                }
            }
        }

        section#projects {

            flex: 1 1 auto;
            overflow-y: scroll; /* has to be scroll, not auto */
            display: flex;
            flex-direction: column;

            &.empty {

                flex-direction: row;
            }

            .emptystate {

                align-self: center;
                text-align: center;
                transform: translateY(-50%);
                font-size: 13px;
                padding: 0 50px;
                line-height: 1.2;
                color: #999;
            }

            .projects__divider {

                background: #E9F3FE;
                font-size: 13px;
                position: sticky;
                z-index: 9;
                padding: 4px 15px 4px;
                top: 0;
                // font-weight: bold;
            }
        }
    }
}

#logs {

    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-top: 8px;

    header {

        @extend %header;
        position: relative;
        font-size: 14px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        justify-content: center;

        &:before {

            display: inline-block;
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -100%);
            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 8px solid #fff;
        }

        svg {

            position: absolute;
            right: 10px;
            fill: $color-blue;
            width: 24px;
            height: auto;
            top: 50%;
            transform: translateY(-50%);

            &:hover {

                fill: mix(#000, $color-blue, 20%);
            }
        }

        .count {

            background: #f4f2f3;
            padding: 4px 10px;
            font-size: 11px;
            border-radius: 6px;
            margin-left: 5px;
        }
    }

    .logs {

        background-color: #fff;
        flex: 1 1 auto;
        overflow-y: scroll;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .emptystate {

            margin-top: -10px;
            align-self: center;
            font-size: 13px;
            color: #999;
        }
    }
}

#exporters {

    height: 100vh;
    display: flex;
    flex-direction: column;

    header {

        @extend %header;
        justify-content: center;
        position: relative;
        font-size: 14px;

        .title {
            // We will allow dragging on the title
            -webkit-app-region: drag;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        span {

            position: absolute;
            left: 0;
        }
    }

    .exporters {

        font-size: 14px;

        table {

           border-spacing: 0;
            width: 100%;
            border: 0;
            border-collapse: separate;
            font-size: 12px;
            text-align: left;

            td, th {

                padding: 5px 10px
            }
        }

        thead {

            th {

                border-bottom: 1px solid #f1f1f1;
                font-weight: normal;
            }
        }
    }

    .body {

        position: relative;
        flex: 1 1 auto;
        overflow-y: scroll;
    }

    .form {

        padding: 5px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: auto;
        transform: translateY(100%);
        background-color: #f5f5f5;
        transition: transform 100ms cubic-bezier(0.17, 0.67, .98, 1);

        &.visible {

            transform: translateY(0%);
        }
    }

    .actions {

        padding: 10px;
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #f1f1f1;
        background-color: #fff;

        & > * {

            @extend %button;
            flex: 0 0 25%;
            height: 30px;
        }
    }

    .progress {

        max-height: 0px;
        height: 20px;
        overflow: hidden;
        background-color: $color-blue;
        transition: max-height 100ms cubic-bezier(0.455, 0.030, 0.515, 0.955);

        &.is-active {

            max-height: 20px;
        }
    }
}

/*
main {

        height: 100vh;
        display: flex;
        flex-direction: column;
        -webkit-app-region: drag;

        &.has-drop-area {

            &:after {

                display: block;
                content: attr(hint);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 5;
                color: darkgray;
                font-size: 21px;
            }
        }
    }

    #outlet {

        position: relative;
        overflow: hidden;
        flex-grow: 1;

        & > * {

            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            position: absolute;
            height: 100%;
            overflow: scroll;
        }
    }

     *,
    *:before,
    *:after {

        margin: 0;
        padding: 0;
        outline: none;
        box-sizing: border-box;
    }

    body {

        font-family: system,-apple-system,".SFNSDisplay-Regular","Helvetica Neue",Helvetica,"Segoe UI",sans-serif;
    }

    #inputs {

    }

    input {

        width: 100%;
        display: block;
        border: 1px solid #ddd;
        height: 30px;
        border-radius: 4px;
        outline: 0;
        padding: 5px 10px;

        &:focus {

            border-color: #6db3fd;
            box-shadow: 3px 3px 0 #6db3fd, -3px -3px 0 #6db3fd, -3px 3px 0 #6db3fd, 3px -3px 0 #6db3fd;
        }

        & + * {

            margin-top: 5px;
        }
    }

    [required].is-invalid {

        border-color: red;
    }

    @keyframes load8 {

        0% {

            transform: rotate(0deg);
        }

        100% {

            transform: rotate(360deg);
        }

    }

    .project {

        padding: 15px 10px 15px 12px;
        border-bottom: 1px solid #f1f1f1;
        font-size: 13px;
        display: flex;
        justify-content: space-between;

        &.unlinked {

            background-color: red
        }

        &:before {

            flex: 0 0 10px;
            height: 10px;
            align-self: center;
            display: block;
            content: '';
            border-radius: 50%;
            border: 2px solid #ccc;
            margin-right: 10px;
            background-repeat: no-repeat;
            background-position: center;
            transition: all 250ms linear;
            animation: load8 500ms infinite linear;
        }

        &.success {

            &:before {

                border-color: #32E875;
            }
        }

        &.processing {

            &:before {

                border-width: 5px;
                border-top-color: #333;
                border-right-color: #333;
                transform: translateZ(0);
            }
        }

        &.error {

            &:before {

                border-color: #D63230;
            }
        }
    }

    .project__info {

        flex-grow: 1;
        max-width: 100%;
        overflow: hidden;
    }

    .project__name {

        cursor: default;
        -webkit-user-select: none;
        white-space: nowrap;
        overflow: hidden;
        position: relative;
        text-overflow: ellipsis;
        font-size: 18px;
        color: #333;
        width: 100%;

        &[contenteditable="true"] {

        }

        &:empty:before {

            display: block;
            content: attr(placeholder);
        }
    }

    .project__path {

        cursor: default;
        margin-top: 4px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 11px;
        color: #666;
        width: 100%;
        -webkit-user-select: none;
    }

    .project__actions {

        flex-shrink: 0;
        align-self: center;
        margin-left: 15px;

        svg {

            fill: #157EFB;
            width: 24px;
        }
    }

     .service {

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .service-type {

        font-size: 12px;
        font-weight: bold;
    }

    header {

        height: 25px;
        flex: 0 0 25px;

        span {

            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            font-size: 13px;
            color: #222;
        }
    }

    #exporters {

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
        overflow: hidden;
    }

    .body {

        flex: 1;
        position: relative;
        overflow: hidden;
    }

    .exporters {

        padding: 5px;
        user-select: none;
        cursor: default;
        height: 100%;
        overflow: scroll;

        & > div {
            font-size: 14px;
            border-radius: 3px;
            padding: 10px 20px;

            &.active {

                background-color: #BCDDF6;
            }
        }
    }

    .form {

        padding: 5px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: auto;
        transform: translateY(100%);
        background-color: #f5f5f5;
        transition: transform 100ms cubic-bezier(0.17, 0.67, .98, 1);

        &.visible {

            transform: translateY(0%);
        }
    }

    .actions {

        display: flex;
        justify-content: space-between;
        border-top: 1px solid #f1f1f1;
        background-color: #fff;

        & > * {

            border: none;
            background: transparent;
            outline: none;
            flex: 0 0 25%;
            height: 30px;
        }
    }

    .progress {

        max-height: 0px;
        height: 20px;
        overflow: hidden;
        background-color: #333;
        transition: max-height 100ms cubic-bezier(0.455, 0.030, 0.515, 0.955);

        &.is-active {

            max-height: 20px;
        }
    }

     header {

        height: 45px;
        flex: 0 0 45px;
        position: relative;
        z-index: 99;
        background-color: #fff;
    }

    button {

        width: 30px;
        position: relative;
        margin: 0 10px 0 auto;
        -webkit-app-region: no-drag;

        svg {

            position: absolute;
            top: 50%;
            left: 50%;
            width: 23px;
            height: auto;
            fill: #222;
            transform: translate(-50%, -50%);
        }
    }


    */