{
    "presets": [
        [
            "env",
            {
                "modules": false,
                "targets": {
                    "node": "current"
                }
            }
        ]
    ],
    "plugins": [
        ["transform-react-jsx", { "pragma": "h" }],
        ["external-helpers"]
    ]
}