{
    "presets": [
        [
            "env",
            {
                "modules": false // we set modules to false because rollup fucks up otherwise
            }
        ]
    ],
    "plugins": [
        ["transform-react-jsx", { "pragma": "h" }]
    ]
}