%input {
    transition: background-color 150ms ease-in-out;
    padding: 0 8px;
    height: 26px;
    line-height: 26px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    background-color: #E8EAEA;
    outline: 0;

    &:focus {
        background-color: #fff;
        border-color: #6db3fd;
        box-shadow: 2px 2px 0 #6db3fd,
            -2px -2px 0 #6db3fd,
            -2px 2px 0 #6db3fd,
            2px -2px 0 #6db3fd;
    }
}

%button {
    @extend %input;
    background-color: #fff;
    line-height: 1;

    &:hover {
        border: 1px solid #E8EAEA;
    }

    &:active {
        background-color: #ddd;
        background-image: none;
    }

    &:focus {
        border: 1px solid #E8EAEA;
        box-shadow: none;
    }
}

