%body {

    position: relative;
    height: 100%;
    overflow: scroll;

    .divider {

        position: relative;
        z-index: 9;
        display: block;
        text-align: center;
    }

    .sticky {

        position: sticky;
        top: 4px;
        z-index: 9;
        padding: 3px 12px;
        display: inline-block;
        background-color: #444;
        color: #fff;
        line-height: 12px;
        font-size: 12px;
        border-radius: 10px;
        margin: 9px 0;
    }
}