.activitybar {
    position: absolute;
    height: 35px;
    left: 0;
    right: 0;
    top: 0;
    font-size: 12px;
    border-top: 1px solid #f1f1f1;
    color: #333;
    display: inline-flex;
    align-items: center;
    padding: 15px;
    justify-content: space-between;

    span {
        &:first-child {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &:last-child {
            margin-left: 8px;
            flex-grow: 0;
            flex-shrink: 0;
        }
    }
}