@import '_includes/vars';
@import "../node_modules/reset-css/_reset";

body {
    color:#fff;
    padding: 2vw;
    background-color: blue;
}

h1 {
    display: block;
    font-size: 26px;
}

h2 {
    background: red;
}