input,
button {

    padding: 0 8px;
    height: 26px;
    line-height: 26px;
    border: none;
    // color: #333;
    border-radius: 4px;
    font-size: 14px;
    background-color: #E8EAEA;

    // background-color: #fcfcfc;
    // background-image: linear-gradient(to bottom,#fcfcfc 0,#f1f1f1 100%);
    // background-color: #c2c0c2 #c2c0c2 #a19fa1;
    // border: 1px solid transparent;
    // border-color: #c2c0c2 #c2c0c2 #a19fa1;
    // box-shadow: 0 1px 1px rgba(0,0,0,.06);
}

button {

    background-color: #fff;

    &:hover {

        border: 1px solid #E8EAEA;
    }
    &:active {

        background-color: #ddd;
        background-image: none;
    }
}

