*,
*:before,
*:after {

    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body {

    font-family: system,-apple-system,".SFNSDisplay-Regular","Helvetica Neue",Helvetica,"Segoe UI",sans-serif;
}