@import "settings";

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    cursor: default;
    -webkit-user-select: none;
}

body {
    height: 100vh;
    overflow: hidden;
    font-family: system,-apple-system,".SFNSDisplay-Regular","Helvetica Neue",Helvetica,"Segoe UI",sans-serif;
    opacity: 1;
    background-color: #fff;
}

.window {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.body {
    height: 100vh;
    overflow: auto;
    display: flex;

    & > * {
        width: 100vw;
    }
}

ul, li {
    list-style: none;
}

.empty-state {
    align-self: center;
    font-size: 13px;
    padding: 0 50px;
    line-height: 1.2;
    color: #999;
    text-align: center;
    transform: translateY(-50%);
}

.message {
    background: #157EFB;
    color: #fff;
    font-size: 13px;
    padding: 5px 10px;
}

.sticky-label {
    position: sticky;
    top: 4px;
    z-index: 9;
    padding: 3px 12px;
    display: inline-block;
    background-color: #444;
    color: #fff;
    line-height: 12px;
    font-size: 12px;
    border-radius: 10px;
    margin: 9px 0;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}