@import "settings";

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    cursor: default;
    -webkit-user-select: none;
}

body {
    height: 100vh;
    overflow: hidden;
    font-family: system,-apple-system,".SFNSDisplay-Regular","Helvetica Neue",Helvetica,"Segoe UI",sans-serif;
    opacity: 1;
    background-color: #fff;
}

.window {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.body {
    height: 100vh;
    overflow: auto;
    display: flex;
    position: relative;

    & > * {
        width: 100vw;
    }

    .is-dragging & {

        &:before {
            z-index: 888;
            display: block;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(#fff, .9);
        }

        &:after {
            z-index: 999;
            display: flex;
            align-items: center;
            justify-content: center;
            content: attr(data-hint);
            position: absolute;
            border-radius: 35px;
            top: 25px;
            left: 25px;
            right: 25px;
            bottom: 25px;
            border: 3px dashed #001021;
        }
    }
}

ul, li {
    list-style: none;
}

.empty-state {
    align-self: center;
    font-size: 13px;
    padding: 0 50px;
    line-height: 1.2;
    color: #999;
    text-align: center;
    transform: translateY(-50%);
}

.message {
    background: #157EFB;
    color: #fff;
    font-size: 13px;
    padding: 5px 10px;
}

.sticky-label {
    position: sticky;
    top: 4px;
    z-index: 9;
    padding: 3px 12px;
    display: inline-block;
    background-color: #444;
    color: #fff;
    line-height: 12px;
    font-size: 12px;
    border-radius: 10px;
    margin: 9px 0;
    left: 50%;
    transform: translateX(-50%);
}

.visible {
    display: block!important;
}

.visible--flex {
    display: flex!important;
}

.visible--inline {
    display: inline-block;
}

.hidden {
    display: none!important;
}

.projects {

    ul {
        li:last-child {
            border-bottom: none;
        }
    }
}